@{
    ViewBag.Title = "#Knowledge";
}

<h2>Knowledge Base</h2>

<div style="height: 500px; overflow: auto;">
    <h3>Quests</h3>
    <ul>
        <li>
            <b>Protect The Girl</b>  <input type="button" value="Details" onclick="$('#quest_1').toggle()" />
            <div id="quest_1" style="display:none">
                <ul>
                    <li>While resting in the Emereal Pub, the room snapped into complete darkness, and all heard a strange voice. "Protect the Girl" it said.</li>
                    <li>After defeating the the Blood Magic Girl, all heard the same strange voice. "Protect the Girl" it said.</li>
                    <li>The party was employed to help protect the young queen during her visit to Emereal</li>
                    <li>Ralph Macchio (with his mastery of magic) noticed that Brutus' Head Guard had the same voice as heard in the Pub</li>
                    <li>During the Queen's visit, an Assassin killed the Minister of Finance, the Queen's Horse and wounded the Queen</li>
                    <li>Sam discovered the Assassin was a mercenary for hire, and attempted to apprehend him</li>
                    <li>The Assassin escaped, but dropped his calling card. The so called "League of Darkness" is his employer.</li>
                    <li>"Stay Frosty" appeared, and was captured by the party and killed by Sam.</li>
                    <li>"Stay Frosty"'s curse was lifted, returning Brutus, the Queen and a Dragonborn to their natural state.</li>
                </ul>
            </div>
        </li>
        <li>
            <b>Emereal Shopping Extravaganza</b>  <input type="button" value="Details" onclick="$('#quest_2').toggle()" />
            <div id="quest_2" style="display:none">
                <ul>
                    <li>Whilst exploring the shops of Emereal, the same shop keeper appeared to run all of the shops in Emereal</li>
                    <li>When questioned about this subject, the shopkeeper profusely insisted he was not the same person.</li>
                    <li>After noticing a Blood Magic Enchanted Dagger amoungst the shop's wares (and feeling slightly cheated by the shop's prices), Ralph Macchio decided to attack</li>
                    <li>The shop keeper's deceased wife was summoned with Blood Magic, and for unknown reasons murdered the shop keeper</li>
                    <li>Balgor Deathsmith and Marti Bott recovered the deeds to almost every building in Emereal from one of the shops in Emereal</li>
                </ul>
            </div>
        </li>
    </ul>

    <h3>Game Knowledge</h3>
    <ul>
        <li>
            <b>Party Combat Roles</b> <input type="button" value="Details" onclick="$('#entry_1').toggle()" />
            <div id="entry_1" style="display:none">
                <b>Striker - Rangers, Rogues</b>
                <br />
                <ul>
                    <li>You are the best at dealing damage. You want to try to deal damage every turn</li>
                    <li>Don't forget to use your bonus abilties like Sneak Attack or Hunter's Quarry to deal bonus damage</li>
                    <li>Focus fire with others in the party, multiple hits can cripple or even kill a target immediately</li>
                    <li>Always look for opportunities to finish off wounded foes. A dead enemy doesn't get to fight back!</li>
                    <li>Don't leave the main battle area to chase down a fleeing foe, instead ask a controller to finish them for you</li>
                    <li>Your defenses are weak so keep your distance, and use your movement or escape spells to keep yourself out of harms way</li>
                </ul>
                <br />
                <b>Controller - Wizards, Warlocks</b>
                <br />
                <ul>
                    <li>You want to control the pace of the fight using your powerful debuff and damage spells</li>
                    <li>Listen to your allies, they will often ask if you can deal with a target that they are unable to</li>
                    <li>Speed up the fight damaging/debuffing targets for an easy kill</li>
                    <li>Slow down the fight by using disables or crowd control spells when the party is outnumbered.</li>
                    <li>Always try to think 1 turn ahead, and consider who will act before and after you. Don't be afraid to delay!</li>
                    <li>Always look for opportunities to finish off wounded foes. A dead enemy doesn't get to fight back!</li>
                    <li>Your defenses are very weak, always keep your distance and stay out of the line of fire</li>
                </ul>
                <br />
                <b>Support - Warlords, Clerics</b>
                <br />
                <ul>
                    <li>You have a versatile spell set with many tools at your disposal, You can deal damage, buff allies and even heal!</li>
                    <li>Keep an eye on your allies as you have powerful healing and buff spells.</li>
                    <li>You have good defenses, don't be afraid to close in and use positioning to grant combat advantage for allies</li>
                    <li>Protect the party by attacking enemies targeting your controllers or strikers that the Defender can't deal with</li>
                    <li>Support your defenders when outnumbered, or help strikers deal damage when facing with tough enemies</li>
                    <li>Be vocal! Support classes are strong leaders, so lead the group by calling targets during combat</li>
                </ul>
                <br/>
                <b>Defender - Fighters, Paladins</b>
                <br />
                <ul>
                    <li>You are the party tank, protect your allies and control enemies using your movment and crowd control spells</li>
                    <li>You usually cannot deal very much damage on your own, position enemies where your party can deal with them</li>
                    <li>Use your spells to lock down targets on the front line and stay between enemies and the rest of your party</li>
                    <li>Provoke opportunity attacks using your spells and positioning, it's a great way to disrupt your enemy's turn</li>
                    <li>You have the strongest defenses, large amounts of HP and abilities that can heal you. Don't be afraid to close in</li>
                    <li>Watch your HP. Locking down multiple enemies is great, but multiple monsters can knock down your HP quickly</li>
                </ul>
            </div>
        </li>
    </ul>
</div>