USE [master]
GO
/****** Object:  Database [DND_MAPS]    Script Date: 5/24/2015 7:34:19 AM ******/
CREATE DATABASE [DND_MAPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DND_MAPS', FILENAME = N'C:\Storage\Work\Sql Server Express 2014\MSSQL12.SQLEXPRESS\MSSQL\DATA\DND_MAPS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DND_MAPS_log', FILENAME = N'C:\Storage\Work\Sql Server Express 2014\MSSQL12.SQLEXPRESS\MSSQL\DATA\DND_MAPS_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DND_MAPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DND_MAPS]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 5/24/2015 7:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Characters](
	[Character_ID] [int] NOT NULL,
	[Player_ID] [int] NOT NULL,
	[Name] [varchar](1000) NOT NULL,
	[Avatar_IMG] [varchar](max) NULL,
	[Initative_Bonus] [smallint] NOT NULL,
 CONSTRAINT [PK_Characters] PRIMARY KEY CLUSTERED 
(
	[Character_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Encounter_Character]    Script Date: 5/24/2015 7:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encounter_Character](
	[Encounter_ID] [int] NOT NULL,
	[Character_ID] [int] NOT NULL,
	[Initiative] [smallint] NOT NULL,
 CONSTRAINT [PK_Encounter_Character] PRIMARY KEY CLUSTERED 
(
	[Encounter_ID] ASC,
	[Character_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Encounter_Monster]    Script Date: 5/24/2015 7:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encounter_Monster](
	[Encounter_ID] [int] NOT NULL,
	[Monster_ID] [int] NOT NULL,
	[Initiative] [smallint] NOT NULL,
 CONSTRAINT [PK_Encounter_Monster] PRIMARY KEY CLUSTERED 
(
	[Monster_ID] ASC,
	[Encounter_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Encounters]    Script Date: 5/24/2015 7:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encounters](
	[Encounter_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Encounters] PRIMARY KEY CLUSTERED 
(
	[Encounter_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Maps]    Script Date: 5/24/2015 7:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Maps](
	[Map_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](2000) NOT NULL,
	[Background_IMG_Path] [varchar](max) NOT NULL,
	[Width_Squares] [int] NOT NULL,
	[Height_Squares] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Maps] PRIMARY KEY CLUSTERED 
(
	[Map_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 5/24/2015 7:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monsters](
	[Monster_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Avatar_IMG] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Monsters] PRIMARY KEY CLUSTERED 
(
	[Monster_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Players]    Script Date: 5/24/2015 7:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Players](
	[Player_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_FK_Character_Player]    Script Date: 5/24/2015 7:34:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Character_Player] ON [dbo].[Characters]
(
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Encounter_CharacterCharacter]    Script Date: 5/24/2015 7:34:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_Encounter_CharacterCharacter] ON [dbo].[Encounter_Character]
(
	[Character_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_EncounterEncounter_Monster]    Script Date: 5/24/2015 7:34:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_EncounterEncounter_Monster] ON [dbo].[Encounter_Monster]
(
	[Encounter_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [FK_Character_Player] FOREIGN KEY([Player_ID])
REFERENCES [dbo].[Players] ([Player_ID])
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Character_Player]
GO
ALTER TABLE [dbo].[Encounter_Character]  WITH CHECK ADD  CONSTRAINT [FK_Encounter_CharacterCharacter] FOREIGN KEY([Character_ID])
REFERENCES [dbo].[Characters] ([Character_ID])
GO
ALTER TABLE [dbo].[Encounter_Character] CHECK CONSTRAINT [FK_Encounter_CharacterCharacter]
GO
ALTER TABLE [dbo].[Encounter_Character]  WITH CHECK ADD  CONSTRAINT [FK_EncounterEncounter_Character] FOREIGN KEY([Encounter_ID])
REFERENCES [dbo].[Encounters] ([Encounter_ID])
GO
ALTER TABLE [dbo].[Encounter_Character] CHECK CONSTRAINT [FK_EncounterEncounter_Character]
GO
ALTER TABLE [dbo].[Encounter_Monster]  WITH CHECK ADD  CONSTRAINT [FK_EncounterEncounter_Monster] FOREIGN KEY([Encounter_ID])
REFERENCES [dbo].[Encounters] ([Encounter_ID])
GO
ALTER TABLE [dbo].[Encounter_Monster] CHECK CONSTRAINT [FK_EncounterEncounter_Monster]
GO
ALTER TABLE [dbo].[Encounter_Monster]  WITH CHECK ADD  CONSTRAINT [FK_MonsterEncounter_Monster] FOREIGN KEY([Monster_ID])
REFERENCES [dbo].[Monsters] ([Monster_ID])
GO
ALTER TABLE [dbo].[Encounter_Monster] CHECK CONSTRAINT [FK_MonsterEncounter_Monster]
GO
USE [master]
GO
