@{
    ViewBag.Title = "Adventure";
}

<h2>#Adventure Shop @Html.ActionLink("Back to #Shopping", "Index", "Shopping", null, new { Class = "play_button", Style = "float:right" })</h2>

<div style="height: 500px; overflow: auto;">
    <div>
        <div>
            <img style="width:200px;height:200px;float:left;" src="~/Images/Shopping_Resources/shopkeeper_item.jpeg" />
            <p style="width:700px;float:right;">
                Welcome to my humble shop patron... My name is Obedia Serpensteen. But some just call me 'Snake'. I have many wares to outfit adventurers like you. Care to look around?
                <br /><br />
                You wouldn't happen to enjoy a good game of dice would you?... I always enjoy a good game of dice.
            </p>
        </div>
        <br /><br />
        <table style="width:100%">
            <tr style="background-color:#dddddd">
                <th>Description</th>
                <th>Cost</th>
                <th>Special</th>
            </tr>
            <tr>
                <td>Bandages</td>
                <td>2 SP</td>
                <td>5 Bandages</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Canteen</td>
                <td>1 SP</td>
                <td></td>
            </tr>
            <tr>
                <td>Flint & Tinder</td>
                <td>1 SP</td>
                <td></td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Game of "Dice"</td>
                <td>50 GP</td>
                <td>????</td>
            </tr>
            <tr>
                <td>Leather Adventurer's Pack</td>
                <td>4 SP</td>
                <td>Holds up to 50lbs</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Military Rations</td>
                <td>2 SP</td>
                <td>3 Days Supply (9 Meals)</td>
            </tr>
            <tr>
                <td>Rope</td>
                <td>3 SP</td>
                <td>50 Feet of Rope</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Survival Kit</td>
                <td>1 GP</td>
                <td>2 Torches, Tent, 5 Bandages</td>
            </tr>
            <tr>
                <td>Tent</td>
                <td>6 SP</td>
                <td></td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Torches</td>
                <td>2 SP</td>
                <td>2 Torches, Last 1 Hour Each</td>
            </tr>
        </table>
    </div>
</div>