@{
    ViewBag.Title = "Magic";
}

<h2>#Magic Shop @Html.ActionLink("Back to #Shopping", "Index", "Shopping", null, new { Class = "play_button", Style = "float:right" })</h2>

<div style="height: 500px; overflow: auto;">
    <div id="shop_3">
        <div>
            <img style="width:200px;height:200px;float:left;" src="~/Images/Shopping_Resources/shopkeeper_magic.jpeg" />
            <p style="width:700px;float:right;">
                Well hello there... aren't you all something special! I'm Gaylic McFaggerty and this is my shop of magical
                implements and potions! 
                <br/><br/>
                Feel free to take your time, but all sales are final! I mean would YOU want
                a "previously used" implement?
            </p>
        </div>
        <br /><br />
        <!--Implements-->
        <table style="width:100%">
            <tr style="background-color:#dddddd">
                <th>Implements</th>
                <th>Group</th>
                <th>Cost (GP)</th>
                <th>Special</th>
            </tr>
            <tr>
                <td>Amethyst Orb of Arcane Power</td>
                <td>Orb</td>
                <td>250</td>
                <td>+1 to Arcana Checks and +1 to Attack Rolls with Arcane Powers when used as Implement</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Dragonscale Wand</td>
                <td>Wand</td>
                <td>400</td>
                <td>+1 to Damage Rolls on all spells cast when used as Implement</td>
            </tr>
            <tr>
                <td>Emerald Mockingjay</td>
                <td>Holy Symbol</td>
                <td>300</td>
                <td>+2 to Diplomacy skill checks while weilded</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Flaming Staff of Kabal</td>
                <td>Staff</td>
                <td>25</td>
                <td>+5 Fire Resistance while wielded</td>
            </tr>
            <tr>
                <td>Glass Orb</td>
                <td>Orb</td>
                <td>15</td>
                <td>Unbreakable Dragon Glass Orb</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Golden Wristband of Theives</td>
                <td>-</td>
                <td>75</td>
                <td>+1 to Thievery Checks</td>
            </tr>
            <tr>
                <td>Jackal's Staff of Quickness</td>
                <td>Staff</td>
                <td>300</td>
                <td>+1 Speed while wielded</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Silver Skull of Gromm</td>
                <td>Holy Symbol</td>
                <td>5</td>
                <td></td>
            </tr>
            <tr>
                <td>Snowball of the North</td>
                <td>Orb</td>
                <td>35</td>
                <td>+5 Cold Resistance while wielded</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Willow Wand</td>
                <td>Wand</td>
                <td>10</td>
                <td></td>
            </tr>
        </table>
        <!--End Implements-->
        <br /><br />
        <!--Rituals and Components-->
        <table style="width:100%">
            <tr style="background-color:#dddddd">
                <th>Ritual Description</th>
                <th>Cost</th>
                <th>Special</th>
            </tr>
            <tr>
                <td>Gromm's Ritual of Birth</td>
                <td>25 GP</td>
                <td>Ox Blood, 25 Feet of Rope, Aninal Tape, "KY Jelly", Rubber Band, Toothpick, Chewing Gum, Magnesium Strips, Sparklers, Thermite, 1 gram Opium, 5 Liters of Grain Alcohol</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Gromm's Ritual of Passing</td>
                <td>10 GP</td>
                <td>Ox Blood, Giant Cleaver, Mortar and Pestol, Aged Cronkenberry Wine, Ceremonial Dagger</td>
            </tr>
        </table>
        <!--End Rituals and Components-->
    </div>
</div>