@{
    ViewBag.Title = "Magic";
}

<h2>#Magic Shop @Html.ActionLink("Back to #Shopping", "Index", "Shopping", null, new { Class = "play_button", Style = "float:right" })</h2>

<div style="height: 500px; overflow: auto;">
    <div id="shop_3">
        <div>
            <img style="width:200px;height:200px;float:left;" src="~/Images/Shopping_Resources/shopkeeper_magic.jpeg" />
            <p style="width:700px;float:right;">
                Well hello there... aren't you all something special! I'm Gaylic McFaggerty and this is my shop of magical
                implements and equipment! 
                <br/><br/>
                Feel free to take your time, but all sales are final! I mean would YOU want
                a "previously used" implement?
            </p>
        </div>
        <br /><br />
        <!--Implements-->
        <table style="width:100%">
            <tr style="background-color:#dddddd">
                <th>Implements</th>
                <th>Group</th>
                <th>Cost (GP)</th>
                <th>Special</th>
            </tr>
            <tr>
                <td>Dragonscale Wand</td>
                <td>Wand</td>
                <td>360</td>
                <td>+1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Cross of Sacrifice</td>
                <td>Holy Symbol</td>
                <td>680</td>
                <td>Requires Level 3, +1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit, Daily Power: Give an Ally +5 to Saving Throw as Immediate Reaction</td>
            </tr>
            <tr>
                <td>Emerald Mockingjay</td>
                <td>Orb</td>
                <td>520</td>
                <td>Requires Level 2, +1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit, Daily Power: Minor Action. Until End of your turn, any character healed by one of your encounter or daily powers regains an additional +1D6 hit points</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Magic Staff of Kabal</td>
                <td>Staff</td>
                <td>360</td>
                <td>+1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit</td>
            </tr>
            <tr >
                <td>Silver Skull of Gromm</td>
                <td>Holy Symbol</td>
                <td>360</td>
                <td>+1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Staff of the Vengeful Magician</td>
                <td>Staff</td>
                <td>680</td>
                <td>Requires Level 3, +1 to Attack and Damage Rolls, +1D8 Damage on Critical Hit, Daily Power: Increase size of Burst or Blast power by 1</td>
            </tr>
            <tr>
                <td>Unbreakable Dragon Glass Orb</td>
                <td>Orb</td>
                <td>360</td>
                <td>+1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit</td>
            </tr>
        </table>
        <!--End Implements-->
        <br /><br />
        <!--Enhancements-->
        <table style="width:100%">
            <tr style="background-color:#dddddd">
                <th>Magical Equipment</th>
                <th>Cost (GP)</th>
                <th>Requirements</th>
                <th>Benefit</th>
                <th>Special</th>
            </tr>
            <tr>
                <td>Delver's Armour</td>
                <td>680</td>
                <td>Requires Level 3</td>
                <td>Grant +1 Bonus AC to any set of Armour</td>
                <td>Daily Power : Free Action. Gain a +2 Power Bonus to a saving throw you just rolled, use the new result.</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Duelist's Weapon</td>
                <td>680</td>
                <td>Requires Level 3. Requires Light Blade.</td>
                <td>Grant +1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit, increased to +1D8 if you have Combat Advantage.</td>
                <td>Daily Power : Minor Action. You have Combat Advantage against the next creature you attack this turn.</td>
            </tr>
            <tr>
                <td>Dwarven Armour</td>
                <td>520</td>
                <td>Requires Level 2.</td>
                <td>Grant +1 Bonus AC to a set of Chain, Scale or Plate Armour</td>
                <td>Daily Power : Free Action. Regain Hit Points as if you had just spent a healing surge.</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Flameburst Weapon</td>
                <td>680</td>
                <td>Requires Level 3.</td>
                <td>Grant +1 to Attack and Damage Rolls, +1D6 Fire Damage on Critical Hit.</td>
                <td>Daily Power : Minor Action. The next ranged basic attack you make with this weapon before the end of your next turn becomes a Burst 1 centered around the target, use your normal attack bonus but vs Reflex. Each target hit takes ongoing 5 Fire Damage (save ends).</td>
            </tr>
            <tr>
                <td>Frost Weapon</td>
                <td>680</td>
                <td>Requires Level 3.</td>
                <td>Grant +1 to Attack and Damage Rolls, +1D6 Cold Damage on Critical Hit.</td>
                <td>At-Will Power: Free Action. All damage dealt by this weapon is Cold Damage. You may return damage to normal as a another free action. <br/><br/> Daily Power : Free Action. Target you just hit takes +1D8 Cold Damage and is slowed until the end of your next turn.</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Mage Armour</td>
                <td>360</td>
                <td></td>
                <td>Grant +1 Bonus AC to a set of Armour</td>
                <td></td>
            </tr>
            <tr>
                <td>Magic Shield Polish</td>
                <td>360</td>
                <td>Requires Shield.</td>
                <td>Grant +1 Shield Bonus to a Shield</td>
                <td></td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Magic Weapon Oil</td>
                <td>360</td>
                <td>Requires Weapon.</td>
                <td>Grant +1 to Attack and Damage Rolls, +1D6 Damage on Critical Hit</td>
                <td></td>
            </tr>
            <tr>
                <td>Resounding Weapon</td>
                <td>520</td>
                <td>Requires Level 2. Requires Hammer, Flail, Mace, Sling or Staff.</td>
                <td>Grant +1 to Attack and Damage Rolls, +1D6 Thunder Damage on Critical Hit</td>
                <td>Daily Power: Free Action. After hitting a target with this weapon, the target is dazed until the end of your next turn.</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Sylvan Armour</td>
                <td>680</td>
                <td>Requires Level 3.</td>
                <td>Grant +1 Bonus AC to a set of Cloth, Leather or Hide Armour</td>
                <td>Gain +1 to Athletics and Stealth Checks as an Item Bonus</td>
            </tr>
        </table>
        <!--End Enhancements-->
        <br /><br />
        <!--Rituals and Components-->
        <table style="width:100%">
            <tr style="background-color:#dddddd">
                <th>Ritual</th>
                <th>Cost (GP)</th>
                <th>Special</th>
            </tr>
            <tr>
                <td>Gromm's Ritual of Birth</td>
                <td>20</td>
                <td>Ox Blood, 25 Feet of Rope, Animal Tape, Lubricating Jelly, Rubber Band, Toothpick, Chewing Gum, Magnesium Strips, Sparklers, Thermite, 1 gram Opium, 5 Liters of Grain Alcohol</td>
            </tr>
            <tr style="background-color:#dddddd">
                <td>Gromm's Ritual of Passing</td>
                <td>10</td>
                <td>Ox Blood, Giant Cleaver, Mortar and Pestol, Aged Cronkenberry Wine, Ceremonial Dagger</td>
            </tr>
        </table>
        <!--End Rituals and Components-->
    </div>
</div>